/* For tiny */
@media screen and (max-width: 1200px) {
    .App {
        width: 95%;
    }
}

/* For big */
@media screen and (min-width: 1200px) {
    .App {
        width: 50%;
    }
}

.App {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: auto;
    padding: 5px;
}

.App hr {
    width: 100%;
}

.App div+h2 {
    margin-top: 5em;
}

.App:last-child {
    margin-bottom: 5em;
}

.sideBySide {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sideBySide img {
    width: 50%;
}